* { margin: 0; padding: 0; 	font-family: Georgia;}


#chart_div{

}

#chart_div_aux{

}

#barchart_div_ips{

}

#barchart_div_urls{

}

#barchart_div_domains{

}

#ccdf_div{

}

/*.response{
	display: none;
}

.hits{
	display: none;
}

.ccdf{
	display: none;
}*/

.titulo{
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
}

#title{	
	position: relative;
	top: 37px;
	font-size: 30px;
	text-align: right;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container {
	/*background-color: red;*/
	min-width: 1000px;
	width: 1000px;
	margin: auto;
	margin-bottom: 40px;
}

#charts {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

#menu {
	text-align: right;
/*	background: orange; */
}

#menu li:hover{
	background-color: #d2ffd2;
}

#menu li {
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	margin-left: 20px;
/*	background-color: blue;*/
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-bottom-style: none;
	
}